@keyframes bg {
    0% { background-color: #c050cc
    }
    25% { background-color: #cc50af
    }
    50% { background-color: #cc5075
    }
    75% { background-color: #cc50af }
    100% { background-color: #c050cc }
}

* {
    margin: 0;
    padding: 0;
    transition: ease 0.5s;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: right;
    height: 5vh;
}

#mute {
    margin: 2vh;
    transform: scale(2);
}

#headphone-off {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    animation: bg 15s infinite;
    font-family: "Lilita One", serif;
    color: white;
}

#name {
    font-size: 9.45rem;
    text-align: center;
    font-weight: bold;
    cursor: default;
}

#divider {
    border: 3px solid white;
    border-radius: 15px;
    margin: 1.2rem auto;
    width: 18rem;
}

#subtitle {
    font-size: 2.7rem;
    text-align: center;
    cursor: default;
    margin-bottom: 3rem;
}

.links-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.links-flexbox > div > a > img {
    width: 3.5rem;
    height: 3.5rem;
}

.links-flexbox > div > a > img:hover {
    filter: invert(1);
}

.links-flexbox > div {
    margin: 1.2rem;
}

#credits {
    font-size: 1.3rem;
}

#credits > a {
    text-decoration: none;
    color: white;
}

#credits > a:hover {
    text-decoration: underline;
}

#wrapper {
    width: 50%;
    height: 50%;
    padding: 5rem 0;
}